:root{
    --white :#ffffff;
    --black:#030e12;
    --blue: #5bccf6;
    --yellow:#fcde57;
    --fonthead : 'Cormorant Garamond', serif;
    --fontcontent : 'Poppins', sans-serif;
}

body,html{
    margin: 0;
    height: 100%;
    background-color: var(--yellow);
    color: var(--white);
    scroll-behavior: smooth;
}

.fixedbutton {
    position: fixed;
    bottom:0;
    right: 10px;
    z-index: 10;
}

@media screen and (max-width: 800px){
    .fixedbutton{
        bottom: 10px;
    }
}

.fixedbutton button{
    width: 55px;
    height: 100px;
    font-family: var(--fontcontent);
    background-color: rgb(51, 51, 51);
    border: none;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    color: var(--white);
    padding: 5px 5px;
    font-size: 10pt;
    cursor: pointer;
    transition: 0.5s;
}

@media screen and (max-width: 800px){
    .fixedbutton button{
        height: 55px;
        border-radius: 50%;
    }
}

.fixedbutton button img{
    width: 90%;
}
@media screen and (max-width: 800px){
    .fixedbutton button span{
        visibility: hidden;
    }
}

h2{
    font-size: 35pt;
}

@media screen and (max-width:600px){
    h2{
        font-size: 25pt;
    }
}

h3{
    font-size: 20pt;
}

p{
    font-size: 12pt;
    font-weight: 400;
}

#cover{
    height: 100vh;
    background-color: var(--yellow);
    overflow-x: hidden;
}

.cover-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.container-one{
    color: var(--black);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    'cover-ct-one cover-ct-two';
    height: 100%;
}

@media screen and (max-width:600px){
    .container-one{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        'cover-ct-one'
        'cover-ct-two';
    }
}

.container-one .content-one{
    grid-area: cover-ct-one;
    display: flex;
    align-items: center;
}

.container-one .content-two{
    grid-area: cover-ct-two;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-one .content-one .content{
}

.container-one .content-one .content hr{
    border: none;
    border-top: var(--black) 2px solid;
    width: 150px;
    margin-left: 0;
}

.container-one .content-one .content h1{
    font-size: 70pt;
    font-family: var(--fonthead);
    font-weight: 700;
    margin-bottom: 0;
}

@media screen and (max-width:600px){
    .container-one .content-one .content h1{
        font-size: 50pt;
    }
}

.container-one .content-two .content{
}

.container-one .content-two .content a{
    text-decoration: none;
    color: var(--black);
    line-height: 3;
    font-size: 14pt;
    font-family: var(--fontcontent);
    transition: 0.5s;
}

.container-one .content-two .content a:hover{
    letter-spacing: 3px;

}







/*container-two--------------------------------------------------------------------*/
#about-me{
    background-color: var(--yellow);
    overflow-x: hidden;
    margin-top: -10px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.aboutme-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1000px){
    .aboutme-content{
        width: 90%;
    }
}

.content-head{
    color: var(--black);
    text-align: center;
    padding-bottom: 50px;
}

.content-head hr{
    border: none;
    border-top: var(--black) 2px solid;
    width: 50px;
}

.content-head h3{
    font-family: var(--fonthead);
    font-weight: normal;
    margin-bottom: 0;
}

.container-two{
    color: var(--black);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    'about-ct-one about-ct-two';
    gap: 30px;
}

@media screen and (max-width:1000px){
    .container-two{
        grid-template-columns: 300px 1fr;
    }
}

@media screen and (max-width:600px){
    .container-two{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        'about-ct-two'
        'about-ct-one';
    }
}

.container-two .content-one{
    grid-area: about-ct-one;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-two .content-two{
    grid-area: about-ct-two;
    text-align: left;
    position: relative;
    display: flex;
}

.container-two .content-one .content img{
    max-width: 300px;
    height: auto;
}

@media screen and (max-width: 600px){
    .container-two .content-one .content img{
        max-height: 400px;
    }
}

.container-two .content-two .content h2{
    font-family: var(--fonthead);
}

@media screen and (max-width: 800px){
    .container-two .content-two .content h2{
        font-size: 25pt;
    }
}

.container-two .content-two .content h2 span:before{
    content: '';
    animation: animate infinite 8s;
    
}

@keyframes animate{
    0%{
        content: 'an IT Student';
    }

    33%{
        content: 'an UI/UX Designer';
    }

    66%{
        content: 'a Web Developer';
    }

    100%{
        content: 'an IT Student';
    }
}

.container-two .content-two .content p{
    font-family: var(--fontcontent);
}

.container-two .content-two .content button{
    font-family: var(--fontcontent);
    background-color: transparent;
    border: 1.5px var(--black) solid;
    color: var(--black);
    padding: 10px 20px;
    font-size: 12pt;
    cursor: pointer;
    transition: 0.5s;
}

.container-two .content-two .content button:hover{
    background-color: var(--black);
    color: var(--yellow);
    letter-spacing: 3px;
}






/*portfolio------------------------------------------------------------------------------------*/
#portfolio{
    margin-top: -150px;
    padding-top: 100px;
    padding-bottom: 100px;
    transform: skewY(4deg);
    background-color: var(--white);
}

.portfolio-content{
    transform: skewY(-4deg);
    color: var(--black);
}

.portfolio-content hr{
    border: none;
    border-top: var(--black) 2px solid;
    width: 50px;
}

.portfolio-content h3{
    margin-bottom: 0;
    text-align: center;
}

.portfolio-content .container-three .content-one .gallery{
    padding-top: 50px;
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

@media screen and (max-width:600px){
    .portfolio-content .container-three .content-one .gallery{
        grid-template-columns: repeat(2,1fr);
    }
}

.portfolio-content .container-three .content-one .gallery img{
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
}

.portfolio-content .container-three .content-one .gallery img:hover{
    border-radius: 20%;
}






/*Contact Section-------------------------------------------------------*/

#contact{
    padding-top: 100px;
}

.contact-content{
    color: var(--black);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.contact-content h3{
    text-align: center;
    margin-bottom: 0;
}

.contact-content hr{
    border: none;
    border-top: var(--black) 2px solid;
    width: 50px;
}

/*.container-four{
    padding-top: 50px;
    padding-bottom: 100px;
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    'contact-ct-one contact-ct-two';
    gap: 20px;
}
*/

.container-four{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

@media screen and (max-width: 600px){
    .container-four{
        text-align: left;
    }   
}

.container-four .content-one{
    grid-area: contact-ct-one;
}

.container-four .content-two{
    grid-area: contact-ct-two;
}

.container-four .content-one h2{
    margin-top: 0;
}

.container-four .content-two h3{
    font-family: var(--fontcontent);
    padding-bottom: 30px;
}

@media screen and (max-width: 600px){
    .container-four .content-two h3{
        text-align: left;
        font-size: 16pt;
    }   
}

.container-four .content-two a{
    text-decoration: none;
    font-size: 12pt;
    font-family: var(--fontcontent);
    line-height: 2;
    color: var(--black);
    transition: 0.5s;
}

.container-four .content-two a:hover{
    letter-spacing: 5px;
}

